body{
  background-color: #ede8f5; 
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ede8f5; 
}

.containerSlide {
  display: flex;
  overflow-x: scroll;
  width: 100vw; /* or you can use a fixed width, e.g., 90vw */
  max-width: 93vw; /* ensures three elements of 31vw each fit */
  padding-bottom: 1rem; /* space for scrollbar */
  box-sizing: border-box;
}

.element {
  flex: 0 0 31vw; /* ensures each element takes up 31% of the container */
  margin-right: 10px;
  padding: 20vh 0;
  background-color: #407ed6;
  text-align: center;
}

.element:last-of-type {
  margin-right: 0; /* remove margin on the last element */
}
.container {
  margin-top: 10px;
  display: flex;
  width: 100vw; /* or you can use a fixed width, e.g., 90vw */
  max-width: 93vw; /* ensures three elements of 31vw each fit */
  padding-bottom: 1rem; /* space for scrollbar */
  box-sizing: border-box;
}