.main-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 2.5%;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: #ede8f5; 
    padding: 10px 20px; 
  }

.accessories-menu .MuiPaper-root ,.clothes-menu .MuiPaper-root,.account-menu .MuiPaper-root{
    background-color: #e9e8e8;
    color: #407ed6;
}

.accessories-menu-item,.clothes-menu-item,.account-menu-items{
    background-color: #e9e8e8;
    color: #407ed6  ;
}

.accessories-menu-item:hover,.clothes-menu-item:hover,.account-menu-items:hover{
    background-color: #676567;
}

.tabs .MuiTabs-flexContainer {
    border-bottom: none;
  }
  
  .tabs .MuiButtonBase-root:hover,
  .tabs .MuiButtonBase-root.Mui-selected {
    background-color: #e9e8e8;
    outline: none;
  }
  
  .tabs .MuiButtonBase-root:focus {
    outline: none;
  }
  
  .tabs .MuiTabs-indicator {
    background-color: #7091e6;
  }

.account-iconBtn,.shopping-iconBtn{
    color: white;
}

.account-iconBtn:hover,.shopping-iconBtn:hover{
    background-color: rgba(255, 255, 255, 0.2) ;
}

.account-iconBtn:focus,.shopping-iconBtn:focus{
    outline: none;
}

.search-field{
    width: 200px;
}

/* .search-field:hover,.search-field:focus{
    outline: none;
} */

.search-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #bfbfbf;
    box-shadow: 0 0 5px #bfbfbf;
    outline: none;
}

.tabs-tab,.tabs{
    color: black;
}


  
  
  